@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@700&family=Ubuntu&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply m-0 bg-black min-h-screen min-w-[320px] overflow-hidden;
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}